{% extends "core/base.html" %}
{% block content %}
<div class="container py-5">
    <div class="alert alert-primary h1 text-center shadow-lg my-5" role="alert">Top 10 Fake News 📰</div>
    <table class="table table-striped table-condensed table-bordered rounded bg-dark my-2">
        <tr class="text-light">
            <th>S.No</th>
            <th class="text-center">News</th>
        </tr>
        {% for news in fake_news %}
        <tr class="text-light">
            <th class="active">{{forloop.counter}}</th>
            <td class="active">{{news}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}