{% extends 'core/base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h2 class="text-center alert alert-secondary shadow">User Signup</h2>
            <div class="m-2">
                {% if messages %}
                    {% for message in messages %}
                        <p {% if message.tags %} class='alert alert-{{message.tags}}' {% endif %}>{{message}}</p>
                    {% endfor %}
                {% endif %}
            </div>
            <form method="post" novalidate>
                {% csrf_token %}
                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <div class="d-grid gap-2 py-4">
                    <input type="submit" value="Signup" class="btn btn-primary  shadow">
                </div>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="mt-2 alert alert-danger">{{error}}</p>
                    {% endfor %}
                {% endif %}
            <div class="my-1"></div>
        </div>
    </div>
</div>
{% endblock content %}